body {
	color: #F6FBFFFF;
	font-family: 'Economica', sans-serif;
	background-image: url("https://cdn.pixabay.com/photo/2016/12/20/14/33/lobster-nebula-1920628_960_720.jpg");
}

.jumbotron {
	background-image: url("https://cdn.pixabay.com/photo/2016/12/20/14/33/lobster-nebula-1920628_960_720.jpg");
}